.list {
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: -3px 5px 16px 0px rgba(0, 0, 0, 0.2);
}

.list__title {
  margin: 0;
  padding: 1.5rem;
  text-transform: uppercase;
}

.list__items {
  padding: 0;
  margin: 0;
  text-align: center;
}

.list__item {
  color: #333;
  display: block;
  padding: 1rem;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.list__item:nth-child(odd) {
  background-color: #fafafa;
}

.list__item:hover {
  background-color: #ddd;
}
