.detail {
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: -3px 5px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

.media-object {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail__image {
  max-width: 400px;
  min-width: 400px;
  min-height: 400px;
}

.detail__specs {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.detail__specs dt {
  color: #666;
  box-sizing: border-box;
  padding: 0.5rem;
  width: 50%;
}

.detail__specs dd {
  font-weight: bold;
  box-sizing: border-box;
  text-align: right;
  text-transform: capitalize;
  margin: 0;
  padding: 0.5rem;
  padding-right: 0;
  width: 50%;
}

.detail__description {
  clear: both;
}

.detail__price {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0;
}

@media screen and (max-width: 769px) {
  .media-object {
    flex-direction: column;
  }
}
